@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --color-text-dark: 0 0 0;  /* black */
    --color-text-light: 255 255 255; /* white */
    --color-text-hover-light: 255 255 255; /* white */
    --color-text-hover-dark: 0 0 0; /* black */
    --color-background-light: 255 255 255; /* white */
    --color-background-dark: 0 0 0; /* black */
    --color-background-hover-dark: 0 0 0; /* black */
    --color-background-hover-light: 255 255 255; /* white */
  }
  :root[data-theme="dark"] {
    --color-text-dark: 255 255 255; /* white */
    --color-text-light: 0 0 0; /* black */
    --color-text-hover-light: 0 0 0; /* black */
    --color-text-hover-dark: 255 255 255; /* white */
    --color-background-light: 0 0 0; /* black */
    --color-background-dark: 255 255 255; /* white */
    --color-background-hover-dark: 255 255 255; /* white */
    --color-background-hover-light: 0 0 0; /* black */
  }
}
